name: Release

on:
    push:
        branches:
            - '**'

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup Java
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: '21'

            -   name: Cache Gradle packages
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                        ~/.gradle/loom-cache
                        .gradle/loom-cache
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/gradle.properties') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-

            -   name: Make gradlew executable
                run: chmod +x gradlew

            -   name: Extract Properties
                id: props
                run: |
                    MOD_VER=$(grep "mod_version" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')
                    MC_VER=$(grep "minecraft_version" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')

                    echo "MOD_VERSION=$MOD_VER" >> $GITHUB_ENV
                    echo "MC_VERSION=$MC_VER" >> $GITHUB_ENV

                    echo "Detected Mod Version: $MOD_VER"
                    echo "Detected MC Version: $MC_VER"

            -   name: Build with Gradle
                run: ./gradlew clean build

            -   name: Release to GitHub
                uses: softprops/action-gh-release@v2
                if: startsWith(github.ref_name, '1.') && env.MOD_VERSION != ''
                with:
                    tag_name: v${{ env.MOD_VERSION }}
                    name: "Release ${{ env.MOD_VERSION }}"
                    draft: false
                    prerelease: false
                    files: build/libs/*.jar
